/build*
.DS_Store
.vscode

/SPELUNKING.txt

# Compiled object files
*.o
*.obj

# Compiled binary files
*.exe
*.out
*.app
/build/
/build
/dethrace

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.pdb
*.ilk
*.so
*.dylib
*.dll

# Logs and databases
*.log
*.sql
*.sqlite

# Editor/project files
.idea/
*.swp
*~

# OS files
Thumbs.db

cmake-build-debug/
